# P001 - Real Estate Insights

# 0.0. - IMPORTS

In [1]:
import pandas as pd
import numpy as np 
import statistics as st
import seaborn as sns

from matplotlib import pyplot as plt
from IPython.core.display import HTML

## 0.1. Helper Functions

In [2]:
def jupyter_settings():
    %matplotlib inline

    plt.style.use('bmh')
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24

    display(HTML('<style>.conteiner{width:100% !important;}</style>'))

    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option('display.expand_frame_repr', False)
    
    # configura o pandas para quantidade de casas decimeis
    pd.set_option('display.float_format', lambda x: '%.2f' % x)

    sns.set()
jupyter_settings()

## 0.2. Loading Data

In [3]:
# load data
df_raw = pd.read_csv("../datasets/kc_house_data.csv")
df_raw.sample(5)

               id             date      price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  condition  grade  sqft_above  sqft_basement  yr_built  yr_renovated  zipcode   lat    long  sqft_living15  sqft_lot15
4308   7853340490  20140617T000000  386000.00         2       2.50         1620      3196    2.00           0     0          3      8        1620              0      2008             0    98065 47.52 -121.88           1750        2828
20674  7768800160  20140827T000000 1054710.00         4       3.50         4210      6481    2.00           0     3          3      9        3260            950      2014             0    98075 47.58 -122.07           3920        5331
10752  2781250520  20141016T000000  200000.00         2       1.75          910      2693    1.00           0     0          3      6         910              0      2003             0    98038 47.35 -122.03           1360        2693
17204  4139440480  20140626T000000  695000.00         3       2.75         2590     12063    2.00           0     0          3     10        2590              0      1993             0    98006 47.55 -122.12           2850        8469
9677   2425059144  20150213T000000  607500.00         4       2.50         2110     13939    1.00           0     0          3      8        1270            840      1978             0    98008 47.64 -122.11           2140        8882

# 1.0 DATA DESCRIPTION

In [4]:
# copy data
df1 = df_raw.copy()

## 1.1. Columns

In [5]:
# column name
print(df1.columns)
cols = ['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15']

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

## 1.2. Data Dimensions

In [6]:
print( 'Number of Rows: {}'.format( df1.shape[0] ) )
print( 'Number of Cols: {}'.format( df1.shape[1] ) )

Number of Rows: 21613
Number of Cols: 21

## 1.3 Data Types

In [7]:
df1['date'] = pd.to_datetime(df1['date'])
df1.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

In [8]:
df1.head()

           id       date     price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  condition  grade  sqft_above  sqft_basement  yr_built  yr_renovated  zipcode   lat    long  sqft_living15  sqft_lot15
0  7129300520 2014-10-13 221900.00         3       1.00         1180      5650    1.00           0     0          3      7        1180              0      1955             0    98178 47.51 -122.26           1340        5650
1  6414100192 2014-12-09 538000.00         3       2.25         2570      7242    2.00           0     0          3      7        2170            400      1951          1991    98125 47.72 -122.32           1690        7639
2  5631500400 2015-02-25 180000.00         2       1.00          770     10000    1.00           0     0          3      6         770              0      1933             0    98028 47.74 -122.23           2720        8062
3  2487200875 2014-12-09 604000.00         4       3.00         1960      5000    1.00           0     0          5      7        1050            910      1965             0    98136 47.52 -122.39           1360        5000
4  1954400510 2015-02-18 510000.00         3       2.00         1680      8080    1.00           0     0          3      8        1680              0      1987             0    98074 47.62 -122.05           1800        7503

## 1.4. Check NA

In [9]:
df1.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

## 1.5. Fillout NA

In [10]:
# No NA to fill

## 1.6. Drop Duplicates

In [11]:
print('number of rows: ' + str(df1.shape[0]) )
print('uniques ids: ' + str(df1['id'].unique().shape[0]))
print('number of duplicated ids: ' + str(df1.shape[0] - df1['id'].unique().shape[0]), )

number of rows: 21613
uniques ids: 21436
number of duplicated ids: 177

In [12]:
# sorting dataframe by date
df1 = df1.sort_values('date', ascending=True)

# deleting ids that appears first
df1 = df1.drop_duplicates(subset='id', keep='last')

print('new shape:', df1.shape)

new shape: (21436, 21)

## 1.7. Descriptive Statistics

In [13]:
num_attributes = df1.select_dtypes(include=['int64', 'float64'])
cat_attributes = df1.select_dtypes(exclude=['int64', 'float64', 'datetime64[ns]'])

### 1.7.1. Numerical Attributes

In [14]:
# Central Tendency - mean, meadina
ct1 = pd.DataFrame(num_attributes.apply(np.mean)).T
ct2 = pd.DataFrame(num_attributes.apply(np.median)).T

# Dispersion - min, max, std, range, skew, kurtosis
d1 = pd.DataFrame(num_attributes.apply(lambda x: x.quantile(0.25))).T
d2 = pd.DataFrame(num_attributes.apply(lambda x: x.quantile(0.75))).T
d3 = pd.DataFrame(num_attributes.apply(lambda x: x.quantile(0.75) - x.quantile(0.25))).T
d4 = pd.DataFrame(num_attributes.apply( min)).T
d5 = pd.DataFrame(num_attributes.apply( max)).T
d6 = pd.DataFrame(num_attributes.apply( np.std)).T
d7 = pd.DataFrame(num_attributes.apply(lambda x: x.max() - x.min())).T
d8 = pd.DataFrame(num_attributes.apply(lambda x: x.skew())).T
d9 = pd.DataFrame(num_attributes.apply(lambda x: x.kurtosis())).T


# concat statistics columns:
ds_num = pd.concat([ct1, ct2, d6, d4, d1, d2, d5, d3, d7, d8, d9]).T.reset_index()
ds_num.columns = ['atributes', 'mean', 'median', 'std', 'min', 'Q1', 'Q3', 'max', 'interquantile_range', 'range', 'skew', 'kurtosis']
ds_num

        atributes          mean        median           std        min            Q1            Q3           max  interquantile_range         range  skew  kurtosis
0              id 4580765328.18 3904921185.00 2876522535.73 1000102.00 2123700078.75 7308675062.50 9900000190.00        5184974983.75 9899000088.00  0.24     -1.26
1           price     541649.96     450000.00     367306.36   75000.00     324866.00     645000.00    7700000.00            320134.00    7625000.00  4.04     34.73
2        bedrooms          3.37          3.00          0.93       0.00          3.00          4.00         33.00                 1.00         33.00  1.99     49.64
3       bathrooms          2.12          2.25          0.77       0.00          1.75          2.50          8.00                 0.75          8.00  0.51      1.29
4     sqft_living       2082.70       1920.00        919.13     290.00       1430.00       2550.00      13540.00              1120.00      13250.00  1.47      5.25
5        sqft_lot      15135.64       7614.00      41537.65     520.00       5040.00      10696.25    1651359.00              5656.25    1650839.00 13.04    284.08
6          floors          1.50          1.50          0.54       1.00          1.00          2.00          3.50                 1.00          2.50  0.61     -0.49
7      waterfront          0.01          0.00          0.09       0.00          0.00          0.00          1.00                 0.00          1.00 11.34    126.55
8            view          0.24          0.00          0.77       0.00          0.00          0.00          4.00                 0.00          4.00  3.39     10.83
9       condition          3.41          3.00          0.65       1.00          3.00          4.00          5.00                 1.00          4.00  1.04      0.52
10          grade          7.66          7.00          1.17       1.00          7.00          8.00         13.00                 1.00         12.00  0.77      1.19
11     sqft_above       1790.96       1560.00        829.01     290.00       1200.00       2220.00       9410.00              1020.00       9120.00  1.44      3.40
12  sqft_basement        291.74          0.00        442.77       0.00          0.00        560.00       4820.00               560.00       4820.00  1.58      2.71
13       yr_built       1971.10       1975.00         29.38    1900.00       1952.00       1997.00       2015.00                45.00        115.00 -0.47     -0.65
14   yr_renovated         84.73          0.00        402.42       0.00          0.00          0.00       2015.00                 0.00       2015.00  4.54     18.61
15        zipcode      98077.86      98065.00         53.47   98001.00      98033.00      98117.00      98199.00                84.00        198.00  0.41     -0.85
16            lat         47.56         47.57          0.14      47.16         47.47         47.68         47.78                 0.21          0.62 -0.49     -0.67
17           long       -122.21       -122.23          0.14    -122.52       -122.33       -122.12       -121.31                 0.20          1.20  0.88      1.05
18  sqft_living15       1988.31       1840.00        685.68     399.00       1490.00       2370.00       6210.00               880.00       5811.00  1.11      1.59
19     sqft_lot15      12785.96       7620.00      27374.83     651.00       5100.00      10087.25     871200.00              4987.25     870549.00  9.50    150.32

### 1.7.2. Categorical Attributes

In [15]:
cat_attributes.shape

# no categorical atributes to analyse

(21436, 0)

## 1.8. Line Filtering

In [19]:
# remove lines whose content is unreliable
print('lines before filtering: ' + str(df1.shape[0]))
df1 = df1[(df1['bedrooms'] <= 10) & (df1['bedrooms'] != 10) & (df1['bathrooms'] >= 1) & (df1['bathrooms'] <= 6)]
print('lines after filtering: ' + str(df1.shape[0]))

lines before filtering: 21436
lines after filtering: 21336